# python
__pycache__/
*.py[cod]
.venv/

# notebook
*.ipynb_checkpoints

# build
*.egg-info/
dist/
build/
pip-wheel-metadata/

# tests
tests/temp/*.json
.coverage*
.pytest_cache/
.mypy_cache/
.hypothesis/
htmlcov/

# documentation
site/

# various
pdm.lock
poetry.lock
.pdm.toml
__pypackages__/
.data/

# editors (you should put this in your global gitignore though)
# git config --global core.excludesfile ~/.gitignore_global
.idea/
.vscode/
*.rej

# temporary analysis
.temp/